**What is Pandas** <br> Open source library providing high performance, easy to use data structures and data analysis tools <br>
What is a DataFrame - Presents data in a grid/tabular format <br> 
What is a DataSeries <br>
Different operations in Pandas <br>

In [2]:
import pandas as pd
import numpy as np

While creating a dataframe <br> 3 things to remember: <br> Datasource & RowIndex & ColumnNames

In [3]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1','Row2','Row3','Row4','Row5'], columns=['Col1','Col2','Col3','Col4'])

In [4]:
df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [5]:
df.to_csv('test1.csv')

In [6]:
## Accessing the elements
## .loc(labels) & .iloc(index position)
df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [7]:
type(df.loc['Row1'])

pandas.core.series.Series

Series is a dataframe with either one row or one column

In [8]:
#accessing multiple rows
df.loc[['Row2','Row3']]

      Col1  Col2  Col3  Col4
Row2     4     5     6     7
Row3     8     9    10    11

In [9]:
# accessing single column
df.loc[:,'Col1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Col1, dtype: int32

In [10]:
#accessing multiple columns
df.loc[:,['Col1','Col2']]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17

In [11]:
#accessing a range of rows
df.loc['Row1':'Row3']

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11

In [12]:
#accessing a range of columns
df.loc[:,'Col1':'Col3']

      Col1  Col2  Col3
Row1     0     1     2
Row2     4     5     6
Row3     8     9    10
Row4    12    13    14
Row5    16    17    18

In [13]:
df.iloc[:,:]

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [14]:
df.iloc[0:3,0:2]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9

In [15]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

**Convert DataFrame to Arrays**

In [16]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

**value_counts() is a very useful & widely used in EDA.**

In [17]:
# Shows the number of each value in a given column appears. 
# Also gives you the list of uniquie values and the number of times each value is present

df['Col1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Col1, dtype: int64

**Checking Null values**

In [18]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

**unique()**

In [19]:
#returns all unique values in that column, as an array. 
df.Col1.unique()

array([ 0,  4,  8, 12, 16])

In [20]:
df = pd.read_csv('mercedesbenz.csv')

In [21]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

**Inbuilt Functions <br> info()**

In [22]:
# info function gives you the 
# No. of rows, entries in the dataframe
# No. of columns
#various data types that are used
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [23]:
df.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [24]:
# gives further details of each column in a dataframe min. max, mean, std. 
# Only the integer and floating columns will be taken into consideration
#columns which are string and categorical values will not be taken into account. 
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
#use value_counts() to get unique category counts in a column
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [26]:
# make a dataframe of only those rows which have y value greater than 100
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [27]:
df1 = pd.read_csv('mercedesbenz.csv', usecols = ['ID','y','X0'])
df1.head()

   ID       y  X0
0   0  130.81   k
1   6   88.53   k
2   7   76.26  az
3   9   80.62  az
4  13   78.02  az

In [28]:
df1.to_csv('writeasCSV.csv')

In [29]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        'c,d,3')

In [30]:
type(data)

str

In [31]:
from io import StringIO, BytesIO
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [32]:
# choose the columns to be loaded into dataframe
df = pd.read_csv(StringIO(data), usecols=['col1','col2'])

In [33]:
df

  col1 col2
0    x    y
1    a    b
2    c    d

In [34]:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12\n')

In [35]:
df = pd.read_csv(StringIO(data),dtype=object) # object makes your values as strings
# here the columns can be individually made a particular datatype

In [36]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [37]:
df['a'][1]

'5'

In [38]:
data = ('index,a,b,c\n'
        '2,apple, bat, 5.7\n'
        '5,orange,cow,10')

In [39]:
#use index_col to change the index column, the index_col value can also be changed

pd.read_csv(StringIO(data),index_col=0)

            a     b     c
index
2       apple   bat   5.7
5      orange   cow  10.0

**Reading csv directly from URL**

In [40]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

URLError: <urlopen error [Errno 11002] getaddrinfo failed>

In [ ]:
df

**Reading HTML content**

In [ ]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
df = pd.read_html(url)

In [ ]:
df[0]

In [ ]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc, match='Country', header=0)

In [ ]:
dfs[0]